<%- include('header')-%>

<div>
  <h1 id="title-text">Error 404</h1>
</div>

<div class="div-mid blog-title">
  <h4>We couldn't find the page you were looking for!</h4>
</div>

<%- include('footer')-%>
