<%- include('header')-%>
<div class="div-mid blog-title">
  <h4 class="top-pad">Intro: About my life</h4>
</div>
<div class="div-mid blog-body">
  <pre class=" fontStuff">
This little sections is about me. I am a hobby web developer with a passion for absurdist humor and irreverence.

I'm an IT administrator by day and work on poor web apps by night. In due time I hope to make this my full time gig.

Feedback welcome! You can view my code at github.com/PaletteJack. Thank you for your time.
  </pre>
</div>
<div class="div-mid blog-body" style="display:block;">
  <h4>Icons made by:</h4>
  <p class="fontStuff">Tempo_doloe</p>
  <p class="fontStuff">Handicon</p>
  <p class="fontStuff">Freepik</p>
  <p class="fontStuff">pictogramer</p>
</div>

<%- include('footer')-%>
