<%- include('header')-%>
<div class="div-mid blog-title">
  <h4 class="top-pad" style="padding-bottom:1.5rem;">Contact me!</h4>
</div>
<div class="div-mid blog-body">
  <p class="body-text fontStuff">
    <img class="contact-img" src="/pictures/phone.png" alt="phone.png">
    Contact Method 1: (800)326-5698
  </p>
</div>
<div class="div-mid blog-body">
  <p class="body-text fontStuff">
    <img class="contact-img" src="/pictures/email.png" alt="email.png">
    Contact Method 2: someone@email.com
  </p>
</div>
<div class="div-mid blog-body">
  <p class="body-text fontStuff">
    <img class="contact-img" src="/pictures/github.png" alt="github.png">
    Contact Method 3: github.com/PaletteJack
  </p>
</div>

<%- include('footer')-%>
