<%- include('header')-%>

<div class="div-mid blog-title">
  <h2 class="top-pad">Something Went Wrong!</h2>
</div>
<div class="div-mid blog-title">
  <h4 class="top-pad">Try your request again</h4>
</div>

<%- include('footer')-%>
