<%- include('header')-%>

<div class="div-mid blog-title">
  <h2 class="top-pad">Update Post</h2>
</div>

<div class="div-mid">
  <form class="" action="/update" method="post">
    <br>
    <input class="tInput" type="text" name="Title" placeholder="Search by Title">
    <button class="default-btn" type="submit" name="submit">Find</button>
  </form>
</div>

<%- include('footer')-%>
